# {{ ansible_managed }}

# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
Port {{ ssh_listen_port }}
AddressFamily any
{% for address in ssh_listen_addresses: %}
ListenAddress {{ address }}
{% endfor %}
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
KeyRegenerationInterval 1h
ServerKeyBits 1024
#RekeyLimit default none
SyslogFacility AUTH
SyslogFacility AUTHPRIV
LogLevel {{ ssh_log_level }}
PermitRootLogin yes
RSAAuthentication yes
PubkeyAuthentication {% if ssh_key_only_auth %}yes{% else %}no{% endif %}

AuthorizedKeysFile	.ssh/authorized_keys
PermitEmptyPasswords no
PasswordAuthentication {% if not ssh_keys_only %}yes{% else %}no{% endif %}

ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
X11Forwarding yes
UsePrivilegeSeparation sandbox		# Default for new installations.
# no default banner path
Banner /etc/issue.ssh
# override default of no subsystems
Subsystem	sftp	{{ ssh_sftp_path }}
